.input {
	width: calc(100% - 32px);
	height: 20px;
	padding: 10px 16px;

	cursor: text;
	transition-duration: 300ms;

	color: var(--dark);
	border: none;
	border-radius: 16px;
	outline: 2px solid transparent;
	outline-offset: -2px;
	background: var(--light) !important;

	font-size: 16px;
	font-weight: 400 !important;
}

.input::placeholder {
	color: var(--darkLight);
}

.input:active,
.input:focus,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.input[type='number'],
.input[type="number"]:hover,
.input[type="number"]:focus {
	-moz-appearance: textfield;
	appearance: none;
}

.textArea {
	min-height: 60px;

	resize: vertical;

	font-family: var(--font-family);
}

.error {
	outline-color: var(--error);
}
