.roles {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	margin: -8px -8px 0;
	padding: 8px 8px 0;

	color: var(--lightDark);

	font-weight: 400;
	gap: 8px;
	grid-template-columns: repeat(4, auto);
}

.roles > span {
	padding: 2px 8px;

	text-align: center;

	color: var(--dark);
	border-radius: 8px;
}
