.teamsList {
	position: relative;

	display: flex;
	overflow-y: auto;
	align-items: stretch;
	flex-direction: column;

	width: 100%;
	height: calc(100vh - 300px);
	gap: 8px;
}

.noFound {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translateX(-50%);

	color: var(--darkLight);
}
