.filtersExp {
	display: grid;
	justify-items: left;
	gap: 16px;

	width: 100%;
}

.filtersExpTitle {
	font-weight: 600;
}

.imputsDiv {
	display: grid;

	width: 100%;
	height: fit-content;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}
