.filtersExp {
	display: grid;
	justify-items: left;
	gap: 16px;

	width: 100%;
}

.filtersExpTitle {
	display: grid;
	align-items: center;

	font-weight: 600;
	grid-template-columns: 1fr auto;
	gap: 8px;
}

.imputsDiv {
	display: grid;

	width: 100%;
	height: fit-content;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}
