.teamAdditionalInfo {
	display: grid;
	gap: 8px;

	margin-top: 8px;
}

.teamAdditionalInfo > h1 {
	display: grid;
	align-items: center;

	color: var(--lightDark);

	font-weight: 400;
	gap: 8px;
	grid-template-columns: auto 1fr;
}

.teamAdditionalInfo > h1 > svg {
	width: 14px;
	fill: var(--lightDark);
}
