.filtersList {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;

	display: none;
	overflow-y: auto;
	align-items: start;

	width: calc(100% - 32px);
	height: calc(100vh - 48px);
	padding: 24px 16px;

	background: var(--white);
	gap: 24px;
	grid-template-rows: repeat(4, auto) 1fr;
}

.active {
	display: grid;
}

.titleDiv {
	display: grid;
	align-items: center;

	width: 100%;
	height: fit-content;
	margin-bottom: 8px;
	justify-items: right;
	grid-template-columns: 1fr auto 1fr;
}

.filtersListTitle,
.filtersListReset {
	font-weight: 600;
}

.filtersListReset {
	cursor: pointer;
	transition-duration: 300ms;
}

.filtersListReset:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.buttonsDiv {
	display: grid;

	width: 100%;
	height: fit-content;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}
