.button {
	display: grid;
	align-items: center;

	width: 100%;
	height: fit-content;
	padding: 16px 18.5px;

	cursor: pointer;
	transition-duration: 300ms;

	border: none;

	border-radius: 12px;
	outline: 2px solid var(--primary);
	outline-offset: -2px;
	background: var(--primary);
	justify-items: center;
	grid-template-columns: auto;
}

.button:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.whiteButton {
	background: var(--white);
}

.text {
	color: var(--dark);

	font-weight: 600;
}

.spinner {
	width: 15.2px;
	height: 15.2px;

	animation: spin 1s linear infinite;

	border: 3px solid var(--primary);
	border-top: 3px solid var(--dark) !important;
	border-radius: 50%;
}

.whiteButton > .spinner {
	border: 2px solid var(--white);
}

@media (max-width: 350px) {
	.spinner {
		width: 13.2px;
		height: 13.2px;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
