.searchWrapper {
	position: relative;

	display: grid;
	align-items: center;

	width: 100%;
}

.searchIcon {
	position: absolute;
	z-index: 10;
	left: 10px;

	width: 24px;

	fill: var(--dark);
}

.search {
	width: calc(100% - 56px) !important;
	padding-left: 40px !important;
}
