html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: var(--white);

	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	padding: 0;

	border: 0;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: var(--primary);
}

a {
	text-decoration: none;
}

@media (max-width: 480px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
}

:root {
	--primary: #000;
	--white: #FFF;
	--dark: #222;
	--lightDark: #676767;
	--light: #F4F5F7;
	--darkLight: #BABABA;
	--accent: #C2D8FF;
	--additional: #275ADF;
	--error: #FF1500;
	--banana: #FFC803;
	--frontColor: #C2D8FF;
	--backColor: #FFC5C5;
	--analystColor: #D2D4FF;
	--testerColor: #DED9E1;
	--scrumColor: #E1FAC9;
	--mlColor: #F6D7B3;
	--sys_adminColor: #D6FED7;
	--font-family: 'Roboto', sans-serif;
}
