.teamItem {
	position: relative;

	display: grid;

	width: calc(100% - 32px);
	height: fit-content;
	padding: 16px;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 16px;
	background: var(--light);
	gap: 8px;
}

.teamItem:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.teamName {
	max-width: 80%;
}

.teamInfoText {
	display: grid;
	align-items: center;

	color: var(--lightDark);

	font-weight: 400;
	gap: 8px;
	grid-template-columns: auto 1fr;
}

.teamInfoText > svg {
	height: 16px;
	fill: var(--lightDark);
}

.teamInfoContainer {
	align-items: start;
}

.teamExpBlock {
	top: 16px;
	right: 16px;
}
