.navbarButton {
	display: grid;

	width: fit-content;
	height: auto;

	cursor: pointer;
	transition-duration: 300ms;
	justify-items: center;
}

.navbarButton:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.navbarButtonIcon > svg {
	height: 24px;
	fill: var(--darkLight);
}

.navbarButtonText {
	user-select: none;

	color: var(--darkLight) !important;
}

.active > .navbarButtonIcon > svg {
	fill: var(--dark);
}

.active > .navbarButtonText {
	color: var(--dark) !important;
}
