.descriptionBlock {
	display: grid;
}

.description {
	display: -webkit-box;
	overflow: hidden;

	transition-duration: 300ms;

	text-overflow: ellipsis;
	hyphens: auto;

	color: var(--lightDark);

	font-weight: 400;
	-webkit-line-clamp: 2;
	line-clamp: 2;

	-webkit-box-orient: vertical;
}

.expanded {
	-webkit-line-clamp: unset;
	line-clamp: unset;
}

.showMore {
	cursor: pointer;
	user-select: none;
	transition-duration: 300ms;

	color: var(--additional);
}

.showMore:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.8);
}
