.navbar {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;

	display: grid;
	align-items: center;

	width: calc(100% - 20px);
	height: auto;
	padding: 15px 10px;

	border-radius: 10px 10px 0 0;

	background: var(--white);
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}
