.userItem {
	position: relative;

	display: grid;

	width: 100%;
	height: fit-content;

	cursor: pointer;
	transition-duration: 300ms;

	gap: 16px;
	grid-template-columns: auto 1fr;
}

.userItem:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.userImage {
	overflow: hidden;

	width: 60px;
	height: 60px;

	border-radius: 9999px;
	object-fit: cover;
}

.userInfoDiv {
	display: grid;

	max-width: 80%;
	height: fit-content;
	gap: 8px;
	justify-items: left;
}

.userInfoText {
	display: grid;
	align-items: center;

	color: var(--lightDark);

	font-weight: 400;
	gap: 8px;
	grid-template-columns: auto 1fr;
}

.userInfoText > svg {
	height: 16px;
	fill: var(--lightDark);
}

.userInfoContainer {
	align-items: start;
}

.userExpBlock {
	top: 0;
	right: 16px;
}
