.userResume {
	display: grid;
	grid-template-columns: auto;
	gap: 16px;
}

.resumeTitle {
	margin-top: 8px;
}

.resumeEmpty {
	color: var(--lightDark);
}

.resumeText {
	margin-top: -4px;

	font-weight: 400;
}
