.xl,
.l,
.m,
.s,
.xs,
.xxs {
	width: fit-content;
	margin: 0;

	color: var(--dark);

	font-weight: 500;
}

.xl {
	font-size: 50px;
	font-style: normal;
}

.l {
	font-size: 32px;
	font-style: normal;
	line-height: 44px;
}

.m {
	font-size: 24px;
	font-style: normal;
	line-height: 28px;
}

.s {
	font-size: 17px;
	font-style: normal;
	line-height: 20px;
}

.xs {
	font-size: 15px;
	font-style: normal;
	line-height: 20px;
}

.xxs {
	font-size: 12px;
	font-style: normal;
	line-height: 16px;
}

@media (max-width: 350px) {
	.xl {
		font-size: 44px;
	}

	.l {
		font-size: 28px;
		line-height: 40px;
	}

	.m {
		font-size: 20px;
		line-height: 24px;
	}

	.s {
		font-size: 15px;
		line-height: 18px;
	}

	.xs {
		font-size: 13px;
		line-height: 18px;
	}

	.xxs {
		font-size: 10px;
		line-height: 14px;
	}
}
